version: '2'
services:
  togg-postgresql:
    image: postgres:12.3
    # volumes:
    #     - ~/volumes/togg/postgresql/:/var/lib/postgresql/data/
    environment:
      - POSTGRES_USER=togg
      - POSTGRES_PASSWORD=
      - POSTGRES_HOST_AUTH_METHOD=trust
    ports:
      - 5432:5432
